@use './var';
@use './mixin';

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var.$color-primary;
    border-radius: 50;
}

body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var.$font-primary;
    background-color: #ecf0f3;
}

.container {
    margin: 0 2rem;
}