@use './var';
@use './mixin';

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var.$color-primary;
    border-radius: 50;
}

body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: var.$font-primary;
    background-color: #ecf0f3;
    color: var.$color-body-white;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.totop {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    bottom: 5%;
    right: 10%;
    color: var.$color-body;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50;
}

@include mixin.hover {
    @media(hover :hover) {
        .totop:hover i{
            color: var.$color-primary;
        }
    }
}

//A FAIRE !!!
// .theme-dark {
//     background-color: var.$color-heading-wv;
//     color: #ecf0f3;
// }