@use './var';
@import './components/typed';

@mixin tablet{
    @media screen and (min-width: 549px){
       @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 900px) {
       @content;
    }
}

@mixin hover {
    @content;
}

@mixin typing {
    display: block;
    font-family: var.$font-secondary;
    &__action {
        display: block;
        color: var.$color-body-white;
        appearance: none;
        background-color: transparent;
        border: none;
        pointer-events: none;

        @include typed(
            "développeur Web.",
            "pro du code.",
            "pro de l'accessibilité.",
            2,
            (
                caret-width: 2px,
                caret-space: 2px
            )
        );
    }
}