@use '../mixin';
@use '../var';

.hero {
    
    &__img {
        position: relative;
        display: flex;
        justify-content: center;
    
        & img{   
           width: 100%;
        }

        &::before{
            position: absolute;
            z-index: -1;
            content: '';
            width: 100%;
            min-height: 70%;
            bottom: 0;
            border-radius: 6px;
            box-shadow: var.$shadow-white-3;
            background: var.$gradient-box-w;
        }
    }

    &__content {
        margin-top: 2rem;
        line-height: 2;

        & strong, &__typing {
            color: var.$color-primary;
        }

        &__subtitle {
            font-size: .7rem;
            letter-spacing: 3px;
        }

        &__title, &__typing {
            font-size: 1rem;
            font-weight: 900;
        }

        &__typing {
            @include mixin.typing;
            display: flex;
            gap: .4rem;
        }

        &__desc {
            font-size: .8rem;
        }
    }
}

.shortcut {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &__social {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        &__title {
            color: var.$color-body-white;
            font-family: var.$font-secondary;
            font-weight: 600;
            font-size: 1.1rem;
        }

        &__nav {
            display: flex;
            gap: .5rem;

            & li a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                font-size: 1.3rem;
                text-decoration: none;
                color: var.$color-body-white;
                box-shadow: var.$shadow-white-3;
                background: var.$gradient-box-w;
                border-radius: 6px;
            }  
        }
    }
}

@include mixin.hover {
    @media (hover: hover) {
        .shortcut {
            &__social li:hover a {
                color: var.$color-primary;
            }
        }
    }
}

@include mixin.desktop {
    .hero {
        max-width: 1100px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: end;
        gap: 3rem;
        
        &__img {
            width: 100%;
        }

        &__content {
            max-width: 60%;

            &__subtitle {
                font-size: .9rem;
            }

            &__title, &__typing {
                font-size: 1.6rem;
            }

            &__desc {
                font-size: 1rem;
            }
        }
    }
    .shortcut {
      
        &__social {
            gap: 1rem;

            &__nav {
                gap: 1rem;
                
                & li a {
                    width: 50px;
                    height: 50px;
                    font-size: 1.8rem;
                }
            }
        }
    } 
}