@use '../mixin';
@use '../var';

.hero {
  
    &__img {
        position: relative;
        display: flex;
        justify-content: center;
    
        & img{   
           width: 100%;
        }

        &::before{
            position: absolute;
            display: flex;
            z-index: -1;
            content: '';
            width: 100%;
            min-height: 70%;
            bottom: 0;
            border-radius: 6px;
            box-shadow: var.$shadow-white-3;
            background: var.$gradient-box-w;
        }
    }

    &__content {
        margin: 2rem 0;
        line-height: 2;

        & strong, &__typing {
            color: var.$color-primary;
        }

        &__subtitle {
            font-size: .8rem;
            letter-spacing: 3px;
        }

        &__title, &__typing {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &__typing {
            @include mixin.typing;
            display: flex;
            gap: .4rem;
        }

        &__desc {
            font-size: 1rem;
        }
    }
}