@use '../mixin';
@use '../var';

.portfolio {
    scroll-margin: 7rem;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1100px;
    padding: 1rem 0;

    &__menu {
        display: inline-flex;
        height: 100%;
        font-size: 1.3rem;
        box-shadow: var.$shadow-white-3;
        background: var.$gradient-box-w;
        border-radius: 6px;
        margin:0 1rem;

        & ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              
        }

        & li button {
            color: var.$color-body-white;
            font-size: 1.7rem;
            padding: 2rem;
            
            & i {
                width: 20px;
                height: 20px;
            }
        }
    }

    &__container {
        overflow-y: scroll;
        overflow-x: hidden;
        display: flex;
        max-height: 25rem;
        flex-direction: column;
        width: 70%;


        &__card {
            width: 15rem;
            height: 15rem;
            padding: 1.5rem;
            color: var.$color-body-white;
            box-shadow: var.$shadow-white-3;
            background: var.$gradient-box-w;
            border-radius: 20px;
            margin: 1rem;
            
    
            &__img {
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                & img {
                    height: 8rem;
                    width: 100%;
                }
            }
        }
    }
}

@include mixin.hover {
    @media (hover: hover) {
        .portfolio__container__card:hover img {
            transition: 0.4s;
            transform: scale(1.1);
        }
        .portfolio__menu li button:hover {
            color: var.$color-primary;
        }
    }
}

@include mixin.tablet {
    .portfolio {
        &__container {
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            
            &__card {
                width: calc((100% / 2) - 2rem);
            }
        }
    }
}

@include mixin.desktop {
    .portfolio {
        &__container {
            width: 100%;
            max-width: 100%;
            flex-wrap: wrap;
            flex-direction: row;

            &__card {
                width: calc((100% / 3) - 2rem);
            }
        }
    }
}